<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <!--<img src="../../../assets/logo.svg">-->
      <span class="is-size-5">Shared notes</span>
    </a>
    <a
      role="button"
      class="navbar-burger burger"
      [class.is-active]="toggleNavbar"
      (click)="toggleNavbar = !toggleNavbar"
      aria-label="menu"
      [attr.aria-expanded]="toggleNavbar"
      data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div
    id="navbar"
    class="navbar-menu"
    [class.is-active]="toggleNavbar">
    <div class="navbar-start">
      <a
        class="navbar-item navbar-logo"
        [routerLink]="collection.path"
        [routerLinkActive]="['is-active']"
        *ngFor="let collection of collections">
        <img
          *ngIf="collection.icon"
          [src]="backendHost + collection.icon.url"
          [alt]="collection.title">
        <span>{{collection.title}}</span>
      </a>
    </div>
    <div class="navbar-end" *ngIf="!currentUser">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" [routerLink]="['/join']">
            <strong>Join</strong>
          </a>
          <a class="button is-light" [routerLink]="['/login']">Log in</a>
        </div>
      </div>
    </div>
    <div class="navbar-end" *ngIf="currentUser">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{currentUser.user.email}}</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/profile']" [routerLinkActive]="['is-active']">Profile</a>
          <a class="navbar-item" [routerLink]="['/my-notes']" [routerLinkActive]="['is-active']">My notes</a>
          <a class="navbar-item" [routerLink]="['/users']" [routerLinkActive]="['is-active']">Find user</a>
          <hr class="navbar-divider">
          <a class="navbar-item">About</a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" (click)="clickLogout()">Log out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
