.container-notification {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .notification {
    max-width: 17.5rem;
    width: 100%;
    margin: 1rem;
    pointer-events: all;
  }
}
