<div class="container-join">
  <form class="box" [formGroup]="joinForm" (ngSubmit)="onSubmit()">
    <div class="card is-shadowless">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="../../../assets/logo.svg" alt="">
            </figure>
          </div>
          <div class="media-content">
            <h4 class="title is-4">John Smith</h4>
            <h6 class="subtitle is-6">@johnsmith</h6>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
        </div>
      </div>
    </div>
    <div class="message is-info">
      <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, sem.
      </div>
    </div>
    <div class="field">
      <label class="label" for="username">Username</label>
      <div class="control">
        <input
          class="input"
          [class.is-danger]="usernameControl.invalid && usernameControl.touched"
          id="username"
          formControlName="username"
          placeholder="Username" />
      </div>
      <div *ngIf="usernameControl.invalid && usernameControl.touched">
        <p class="help is-danger" *ngIf="usernameControl.errors.required">Username is required</p>
        <p class="help is-danger" *ngIf="usernameControl.errors.minlength">Username min length 4</p>
      </div>
    </div>
    <div class="field">
      <label class="label" for="email">Email</label>
      <div class="control">
        <input
          class="input"
          [class.is-danger]="emailControl.invalid && emailControl.touched"
          id="email"
          formControlName="email"
          placeholder="Email" />
      </div>
      <div *ngIf="emailControl.invalid && emailControl.touched">
        <p class="help is-danger" *ngIf="emailControl.errors.required">Email is required</p>
        <p class="help is-danger" *ngIf="emailControl.errors.minlength">Email min length 4</p>
      </div>
    </div>
    <div class="field mb-2">
      <label class="label" for="password">Password</label>
      <div class="control">
        <input
          class="input"
          [class.is-danger]="passwordControl.invalid && passwordControl.touched"
          type="password"
          id="password"
          formControlName="password" />
      </div>
      <div *ngIf="passwordControl.invalid && passwordControl.touched">
        <p class="help is-danger" *ngIf="passwordControl.errors.required">password is required</p>
        <p class="help is-danger" *ngIf="passwordControl.errors.minlength">password min length 4</p>
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button
          [disabled]="joinForm.invalid"
          class="button is-success">Sign up
        </button>
      </div>
    </div>
  </form>
</div>
