<div class="modal is-active">
  <div class="modal-background animated fadeIn faster" (click)="location.back()"></div>
  <div class="modal-card animated zoomIn faster">
    <header class="modal-card-head">
      <p class="modal-card-title">{{note ? note.title : ''}}</p>
      <button class="delete" aria-label="close" (click)="location.back()"></button>
    </header>
    <section class="modal-card-body">
      <div class="note-detail-loader" *ngIf="!note">
        <progress class="progress is-small is-primary" max="100"></progress>
      </div>
      <pre *ngIf="note" [innerHTML]="note.description"></pre>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
