<div class="container-masonry">
  <div class="masonry-loader" *ngIf="loader">
    <progress class="progress is-small is-primary" max="100"></progress>
  </div>
  <div class="masonry-wrap" >
    <div class="masonry-overlay" *ngIf="loader"></div>
    <div class="masonry-inner" *ngIf="notesList.length; else emptyNotesList" #masonryInner>
      <div class="masonry-sizer"></div>
      <div class="masonry-card animated fadeIn faster" *ngFor="let note of notesList">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a class="title is-4 is-block has-text-info mb-0" [routerLink]="[note.id]">{{note.title}}</a>
                <a class="subtitle is-6 is-lowercase" [routerLink]="(isMyNotesView() ? ['/profile'] : ['/users', note.user.id])">@{{note.user.username}}</a>
              </div>
            </div>
            <div class="content is-size-7">
              {{note.description}}<br>
              <time class="is-block mt-1" datetime="2016-1-1">{{note.updated_at | date:'d MMMM, HH:mm' : '0' : 'ru'}}</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #emptyNotesList>
      <div class="box masonry-empty animated fadeInUp faster" *ngIf="!loader">
        <p class="title is-1 is-capitalized">{{route.snapshot.routeConfig.path}}</p>
        <p class="subtitle is-3">No entries</p>
      </div>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</div>
