<div class="container-masonry">
  <div class="masonry-loader" *ngIf="loader">
    <progress class="progress is-small is-primary" max="100"></progress>
  </div>
  <div class="masonry-wrap" >
    <div class="masonry-overlay" *ngIf="loader"></div>
    <div class="masonry-inner" *ngIf="notesList.length; else emptyNotesList" #masonryInner>
      <div class="masonry-sizer"></div>
      <div class="masonry-card animated fadeIn faster" *ngFor="let note of notesList">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/128x128.png" [alt]="note.user.username">
                  </figure>
                </div>
                <div class="media-content has-text-weight-normal is-size-7">
                  <a class="is-inline-block" [routerLink]="(isMyNotesView() ? ['/profile'] : ['/users', note.user.id])">{{note.user.username}}</a>
                  <time class="is-block">{{note.updated_at | date:'d MMMM, HH:mm' : '0' : 'ru'}}</time>
                </div>
              </div>
            </div>
          </div>
<!--          <div class="card-image">-->
<!--            <figure class="image is-4by3">-->
<!--              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">-->
<!--            </figure>-->
<!--          </div>-->
          <div class="card-content">
            <a class="is-size-6 has-text-weight-semibold" [routerLink]="[note.id]">{{note.title}}</a>
            <hr>
            <a class="is-size-7 has-text-weight-normal" [routerLink]="['/', note.collection.path]">{{note.collection.title}}</a>
          </div>
        </div>
      </div>
    </div>
    <ng-template #emptyNotesList>
      <div class="box masonry-empty animated fadeInUp faster" *ngIf="!loader">
        <h1 class="title is-1 is-capitalized">{{route.snapshot.routeConfig.path}}</h1>
        <h3 class="subtitle is-3">No entries</h3>
      </div>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- TODO: remove short description? -->
<!--<div class="content-inner is-size-7" [innerHTML]="note.getShortDescription() | markdownIt | sanitizer : 'html'"></div>-->
