<div class="container">
  <div class="columns">
    <div
      class="
      m-l-1
      m-r-1
      column
      is-three-quarters-mobile
      is-two-thirds-tablet
      is-half-desktop
      is-one-third-widescreen
      is-one-quarter-fullhd
      has-background-primary"
      *ngFor="let note of notesList">
      <code>is-three-quarters-mobile</code><br>
      <code>is-two-thirds-tablet</code><br>
      <code>is-half-desktop</code><br>
      <code>is-one-third-widescreen</code><br>
      <code>is-one-quarter-fullhd</code>
    </div>
  </div>
<!--  <h4>shared works!</h4>-->
<!--  <div class="notes">-->
<!--    <div *ngFor="let note of notesList">-->
<!--      <a [routerLink]="['/shared', note.id]">{{note.title}}</a>-->
<!--      <div>{{note.description}}</div>-->
<!--    </div>-->
<!--  </div>-->
</div>
