/* You can add global styles to this file, and also import other style files */

$rems: (0, 1, 2, 3, 4, 5); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); $axises: (x, y); // Leave this variable alone

@each $space in $rems {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}

html, body {
  height: 100%;
  background: #f5f5f5;
}

.container-home,
.container-note-detail,
.container-user-list,
.container-user-detail {
  padding: 1rem;
  & > div.box {
    max-width: 768px;
    margin: 0 auto;
  }
}

.container-login,
.container-join {
  padding: 1rem;
  form {
    max-width: 425px;
    margin: 0 auto;
  }
}
